/************************************************************************************
CONTAINERS
************************************************************************************/




.container_work{
  width: 1100px; 
  margin: auto;
  position: relative;
}

.container_2{
    width: 768px; 
  margin-top: auto;

  /*padding-top: 80px;*/
  
}



.text_box_left
{
 
  float: left;
 /*border: 1px solid black;*/
  height: 50px;
  width: 355px;
    /*background-color: rgba(51,51,51,0.1);*/
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  /*border: 1px solid black;*/
}

.img_inside_div_left
{
  float: left;
  margin-top: 0px;
  /*border: 1px solid yellow;*/

}

.text_box_right
{
  position: relative;
  top: -30px;
  float: right;
  height: 550px;
  width: 550px;
  margin: 10px;
}


.text_box_right_inner_img
{
  position: absolute;
  top: 60px;
  left: 90px;
  height: 350px;
  width: 380px;
 
}

#top_left_box
{
  margin-top: 10px;
  text-align: center;
  
}

.work_title
{
  width: 1100px;
  margin:auto; 
  margin-top: 100px;
  margin-bottom: 100px;
  height: 300px;
}

#fixed_work_title_container
{
  
  width: 1100px;
  height: 300px;
}



#float_img
{
  position: relative;
  top: 5px;

  -webkit-animation-name: textfloat;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: textfloat;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
}

#img_with_grid
{
  float:right;
  padding-top: 5px;
  

}


#fixed
{
  position:fixed;
  top: 0px;
  left: 0px;
}



#footer {
 
 position: relative;
 z-index: 10;
 height: 150px;

}

#bottomface
{
  position:absolute;
  bottom: 0px;
  left: -110px;
  padding: 0px;
  margin: 0px;
  
  
}

#speechbubble
{
  position: absolute;
  bottom: 140px;
  left: 140px;
  padding: 0px;
  margin: 0px;
  
  opacity: 0;
}


.sub_heading_work_page span
{
  color: #890A0A;
}


.float_left
{
  float: left;
}

.float_right
{
  float: right;
}

.spacer
{
  clear: left;
}

.absoloute_line
{
  position: absolute;
  left: 50%;
}

.icon
 {
  width:70px;
  height: 70px;
 } 

 #text_box_left_small
{
  height: 30px;
 
}

#text_box_left_small_p
{
  padding:2px 0px;
}


.v_centre
{
    padding-top:1%;
}
